body{
	margin: 0;
	padding: 0;

}
a:hover{
	text-decoration: none;
	color: orange;
}
.vl{
	border-left: 1px solid #cccccc;
    height: 95%;
}
@media only screen and (max-width: 411px) {
     .hide{ 
        display: none;
    }
}
